<nav>
    <div class="container d-flex align-items-end my-3">
        <div class="logo">
            <h3 class="m-0 me-5"><span>M</span>arket</h3>
        </div>
        <div class="d-flex align-items-center justify-content-between w-100">

            <ul class="d-flex m-0">
                <li class="me-4"><a *ngIf="isLogin" routerLink="/product">Proudcts</a></li>
                <li class="me-4"><a *ngIf="isLogin" routerLink="/cart">Cart</a></li>
            </ul>



            <ul class="d-flex m-0">
                <li class="me-4"><a *ngIf="!isLogin" routerLink="/signup">SignUp</a></li>
                <li class="me-4"><a *ngIf="!isLogin" routerLink="/login">Login</a></li>
                <li><a (click)="callLogout()" *ngIf="isLogin" routerLink="/">Logout</a></li>
            </ul>


        </div>
    </div>
</nav>