.dropdown-item.active, .dropdown-item:active {
    background-color: #ff131f;
}
.btn-secondary{
    background-color: #ff131f;
    border: none;
}
a{cursor: pointer;}
.dropdown-menu li a:hover{
    background-color: #ff131f;
}